name: Release

on:
  workflow_dispatch:
    inputs:
      otp:
        name: 'RubyGems OTP Code'
        required: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: |
          otp=${{github.events.inputs.otp}}
          echo "::add-mask::$otp"
      - run: gem update --system
      - run: git config --global user.email github-action@users.noreply.github.com
      - run: git config --global user.name GitHub Actions
      - run: git config --global user.password ${{ github.token }}
      - run: bundle install
      - run: bundle exec rake release
        env:
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
          GEM_HOST_OTP_CODE: ${{ github.event.inputs.otp }}
